/*CSS para inicializar projeto*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}

/* width */
::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #f1f1f1; 
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #888; 
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #101936; 
   }

/*propriedades css padrão para título de layouts*/

.titulos-amb{
     color: #F9BB44;
     font-family: 'Oswald', sans-serif;
     font-size: 25px;
     margin: -5px 0 10px 0;
}

.form-cad-candidatos{
     background-color: #101936;
     width: 100%;
}

.subtitulos-amb{
     color: #F9BB44;
     font-family: 'Oswald', sans-serif;
     font-size: 20px;
     margin-top: -5px;
}

.inputs-config::placeholder{
     color: #f9ba449f;
     font-family: 'Oswald', sans-serif;
     font-size: 15px;
     padding-bottom: -5px;
}

.inputs-config{
     background-color: rgba(255, 255, 255, 0.158);
     border: 1px solid rgba(255, 255, 255, 0.24);
     height: 38px;
     margin-top: 10px;
     font-family: 'Oswald', sans-serif;
     color: white;
}

.amb-btns-config{
     padding-top: 5px;
     width: 100%;
     display: flex;
     justify-content: center;
}

.btns1{
     margin-right: 2.5px;
}
.btns2{
     margin-left: 2.5px;
}

.btns1, .btns2{
     padding-top: 0;
     height: 28px;
     font-weight: unset;
     font-family: 'Oswald', sans-serif;
}

.table{
     font-family: 'Oswald', sans-serif;
}

.amb-table{
     height: 150px;
     overflow: auto;
}

#input-rua-candidato ,#input-bairro-candidato ,#input-estado-candidato, #input-telefone1-candidato{
     margin-right: 10px;
}

/*propriedades do layout admin*/

/*header propriedades usuário*/

body{
     display: flex;
     background: linear-gradient(90deg, rgba(9,75,121,1) 20%, rgba(9,75,121,1) 20%, black);
     padding: 10px 10px;
}

header{
     width: 64px;
     height: 100fr;
     background-color: #101936;
     border-radius: 10px;
}

.dropdown-user-ident ,.a-header-menu, .nav-header{
     display: none;
}

.header-menu{
     padding: 0px 10px;
     padding-top: 10px;
     display: flex;
     align-items: center;
}

.nav-header-nav-aberto, .a-header-menu-aberto, .dropdown-user-ident-aberto{
     display: inherit;
}

.dropdown-menu{
     background-color: #101936;
     box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.925);
}

.dropdown-menu .dropdown-item{
     color: #F9BB44;
     border-bottom: 1px solid #0b5dd760;
}

.dropdown-menu .dropdown-item:hover{
     background-color: rgba(255, 255, 255, 0.121);
}

.header-menu, .header-menu a{
     color: white;
     text-decoration: none;
}

.header-menu a:hover{
     text-decoration: underline;
}

.header-menu a{
     font-size: 25px;
     font-weight: bold;
     font-family: 'Oswald', sans-serif;
     color: #F9BB44;
     margin-right: 20px;
}

#btn-menu{
     width: 40px;
     height: 40px;
     border: 1px solid rgba(255, 255, 255, 0.473);
     padding: 3px 3px;
     border-radius: 40px;
     background-color: rgba(255, 255, 255, 0.199);
     cursor: pointer;
     box-shadow: 0 5px 8px rgba(255, 255, 255, 0.192);
     margin-left: 2px;
}

.aberto{
     width: 271px;
}

#btn-menu:hover{
     background-color: rgba(255, 255, 255, 0.322);
}

.header-imagem-ident{
     display: flex;
     align-items: center;
     font-family: 'Oswald', sans-serif;
     color: white;
     padding: 0px 5px;
     padding-top: 5px;
}

.person-user-avatar{
     width: 46px;
     height: 46px;
}

.image-user{
     border: 1px solid rgba(255, 255, 255, 0.363);
     background-color: rgba(255, 255, 255, 0.199);
     border-radius: 27px;
     padding: 1px 1px;
     width: 50px;
     height: 50px;
}

#image-user{
     border-radius: 27px;
     width: 46px;
     height: 46px;
}

.dropdown-user-ident{
     padding: 0;
     margin: 0;
     height: 30px;
     font-size: 15px;
     width: 150px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     padding-left: 5px;
     border: 1px solid rgba(255, 255, 255, 0.473);
     background-color: rgba(255, 255, 255, 0.199);
     color: #F9BB44;
}

.dropdown-user-ident:hover{
     color: #F9BB44;
     background-color: rgba(255, 255, 255, 0.322);
}

#btn-user-on{
     margin-left: 5px;
}

/*header propriedades nav botões*/

nav{
     padding: 10px 0px 0px 5px;
}

.btn-amb-cubo-btn{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap-reverse;
     
}

.amb-cubo-top-btn{
     display: flex;
     justify-content: right;
}

.amb-btns-nav-cx{
     padding: 1px 0 1px 1px;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     background-color: rgba(9,75,121,1);
}

.circle{
     width: 20px;
     height: 20px;
     border-radius: 20px;
     position: relative;
     background-color: #101936;
     
}

.cubo-top-btn, .cubo-bottom-btn{
     position: relative;
     width: 10px;
     height: 10px;
     background-color: rgba(9,75,121,1);
}

.cubo-top-btn{
     position: relative;
     top: 10px;
     left: 20px;
}

.cubo-bottom-btn{
     position: relative;
     left: 20px;
     height: 20px;
}

.cubo-bottom-ult-btn{
     height: 10px;
}

.btns-nav-menu{
     display: flex;
     justify-content: left;
     height: 47px;
     width: 100%;
     border-radius: 10px;
     font-family: 'Oswald', sans-serif;
     font-size: 25px;
     color: #F9BB44;
     background-color: #101936c9;
     border: 1px solid rgba(255, 255, 255, 0.281);
}

#btns-nav-menu-1:active{
     border: 2px solid #F9BB44;
}

#btns-nav-menu-2:active{
     border: 2px solid #F9BB44;
}

#btns-nav-menu-3:active{
     border: 2px solid #F9BB44;
}

#btns-nav-menu-4:active{
     border: 2px solid #F9BB44;
}

#btns-nav-menu-5:active{
     border: 2px solid #F9BB44;
}

#btns-nav-menu-6:active{
     border: 2px solid #F9BB44;
}

#icon-config-main:active{
     border: 1px solid #F9BB44;
}

#icon-mensage-main:active{
     border: 1px solid #F9BB44;
}

.btns-nav-menu:hover{
     background-color: #1019368e;
     color: #F9BB44;
}

.bi-icons-btns{
     width: 30px;
     height: 30px;
     margin-right: 20px;
     margin-left: -5px;
}

/*main propriedades barra cabeçalho */

section {
     width: 100%;
     margin-left: 10px;
}

main{
     height: 77px;
     width: 100%;
     border-radius: 10px;
     background-color: #101936;
     margin-bottom: 10px;
}

.amb-section{
     width: 100%;
     background-color: #101936;
     border-radius: 10px;
     padding: 10px 10px;
     padding-bottom: 10px;
}

.a-header-menu{
     white-space: nowrap;
}

/*footer propriedades*/

footer{
     margin-top: 10px;
     height: 203px;
     width: 100%;
     background-color: #101936;
     border-radius: 10px;
     color: #F9BB44;
     display: flex;
     align-items: center;
     padding: 0 10px 0 10px;
     justify-content: center;
     
}

footer ul{
     display: flex;
     font-family: 'Oswald', sans-serif;
     justify-content: space-between;
     width: 100%;
     flex-wrap: wrap;
     justify-content: space-between;
}

footer ul li .a-icon-footer{
     padding: 20px 20px;
     color: #F9BB44;
     font-size: 28px;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.116);
     white-space: nowrap;
     width: 195px;
     text-align: center;
}

ul .amb-icons-footer{
     display: flex;
     padding-left: 0;
}

.amb-icons-footer li {
     padding: 12px 10px 12px 10px;
     margin: 4px 2px 0 2px;
     background-color: rgba(255, 255, 255, 0.116);
     border-radius: 10px;
}

.amb-icons-footer li:hover{
     color: #F9BB44;
     background-color: rgba(255, 255, 255, 0.322);
     cursor: pointer;
}

.amb-icons-a-footer{
     display: flex;
     flex-direction: column;
     
}

ul li .icons-footer{
     width: 30px;
     height: 30px;
     color: #F9BB44;
     
}

/*main propriedades*/

main{
     
     display: flex;
     justify-content: right;
     align-items: center;
}

#input-search-main{
     width: 188px;
     height: 44px;
     margin: 0 15px 0 0px;
     background-color: rgba(255, 255, 255, 0.158);
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.39);
     color: white;
     font-family: 'Oswald', sans-serif;
}

#input-search-main::placeholder{
     color: #f9ba449f;
     font-family: 'Oswald', sans-serif;
}

.icons-main{
     margin-right: 10px;
     width: 45px;
     height: 45px;
     color: #F9BB44;
     background-color: rgba(255, 255, 255, 0.116);
     padding: 10px 10px;
     border-radius: 10px;
}

.icons-main:hover{
     background-color: rgba(255, 255, 255, 0.322);
     cursor: pointer;
}

/*dachboard propriedades*/

.amb-menu-dachboard{
     width: 100%;
     background-color: rgba(255, 255, 255, 0.219);
     border-radius: 10px;
     margin-bottom: 20px;
     padding: 10px 10px;
     padding-bottom: 15px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto;
     grid-gap: 15px;
}

.option-dachboar{
     background: linear-gradient(0deg, rgba(103, 32, 184, 0.397) 38%, #101936 99%);
     box-shadow: 0 5px 5px black;
     border-radius: 10px;
}

/*candidatos propriedades css*/

.amb-candidatos{
     width: 100%;
     background-color: rgba(255, 255, 255, 0.219);
     border-radius: 10px;
     padding: 10px 10px;
     margin-bottom: 10px;
}

.form-cad-candidatos{
     padding: 10px 10px;
     border-radius: 10px;
     box-shadow: 0 5px 5px black;
}

.form-search-candidato{
     padding: 10px 10px;
     border-radius: 10px;
     margin-top: 10px;
     width: 100%;
     height: 285px;
     background-color: #101936;
     box-shadow: 0 5px 5px black;
}

.drop-input-candidato, .drop-input-vagas, .drop-input-clientes, .drop-input-user{ 
     position: relative; 
     display: inline-block; 
     width: 100%;
}

.conteudo-drop-candidato, .conteudo-drop-vagas, .conteudo-drop-clientes, .conteudo-drop-user{
     width: 100%; 
     height: 30px; 
     position: absolute;
     display: none; 
}

.dropdown-candidato-cadastro ,.dropdown-vagas-cadastro, .dropdown-user-cadastro{
     background-color: #0b1125;
     font-family: 'Oswald', sans-serif;
     color: white;
     display: flex;
     justify-content: space-between;
     padding: 4px 6px;
     border-radius: 5px;
     border: 1px solid rgba(255, 255, 255, 0.199);
}

.dropdown-candidato-cadastro:hover{
     background-color: #101936;
     cursor: pointer;
     border: 1px solid rgba(255, 255, 255, 0.664);
}

.dropdown-vagas-cadastro:hover{
     background-color: #101936;
     cursor: pointer;
     border: 1px solid rgba(255, 255, 255, 0.664);
}

.dropdown-user-cadastro:hover{
     background-color: #101936;
     cursor: pointer;
     border: 1px solid rgba(255, 255, 255, 0.664);
}

/*vagas propriedades css*/

.amb-form-cad-vagas{
     width: 100%;
     height: 801px;
     background-color: rgba(255, 255, 255, 0.219);
     border-radius: 10px;
     padding: 10px 10px;
     margin-bottom: 10px;
}

.amb-cad-vaga{
     width: 100%;
     height: 773px;
     background-color: #101936;
     border-radius: 10px;
     padding: 10px 10px;
     box-shadow: 0 5px 5px black;
}

.textareas-cad-vaga, .textareas-cad-clientes{
     margin-top: 10px;
     width: 100%;
     height: 147px;
     background-color: rgba(255, 255, 255, 0.158);
     border: 1px solid rgba(255, 255, 255, 0.24);
     color: white;
     font-family: 'Oswald', sans-serif;
     resize: none;
}

.textareas-cad-vaga::placeholder{
     color: #f9ba449f;
     font-family: 'Oswald', sans-serif;
}

.textareas-cad-clientes::placeholder{
     color: #f9ba449f;
     font-family: 'Oswald', sans-serif;
}

/*clientes propriedades css*/

.amb-clientes{
     width: 100%;
     height: 591px;
     background-color: rgba(255, 255, 255, 0.192);
     border-radius: 10px;
     margin-bottom: 10px;
     padding: 10px 10px;
}

.form-cad-clientes{
     padding: 10px 10px;
     width: 100%;
     height: 571px;
     background-color: #101936;
     border-radius: 10px;
     box-shadow: 0 5px 5px black;
}

.amb-inputs-logradouro-empresa, .amb-inputs-logradouro-candidato{
     display: flex;
}

#input-rua-cliente, #input-bairro-cliente, #input-estado-cliente, #input-telefone1-cliente{
     width: 100%;
     margin-right: 10px;
}

#input-num-cliente{
     width: 149px;
}

.textareas-cad-clientes{
     height: 200px;
}

#input-telefone1-cliente, #input-telefone2-cliente{
     width: 300px;
}

/*acessos propriedades css*/

.amb-acessos{
     width: 100%;
     background-color: rgba(255, 255, 255, 0.192);
     border-radius: 10px;
     margin-bottom: 10px;
     padding: 10px 10px;
}

.amb-cad-acessos{
     padding: 10px 10px;
     width: 100%;
     background-color: #101936;
     border-radius: 10px;
     box-shadow: 0 5px 5px black;
}

#input-ususario-user{
     margin-right: 5px;
}

#select-acesso{
     background-color: rgba(255, 255, 255, 0.158);
     color: #f9ba449f;
}

#select-acesso:hover{
     background-color: #0b1125;
     cursor: pointer;
     color: #F9BB44;
}

#input-pass-user{
     margin-left: 5px;
}

#amb-input-img-user{
     width: 100%;
     height: 240px;
     border-radius: 5px;
     outline-offset: -10px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

#input-img-user{
     padding: 10% 30%;
     background-color: rgba(255, 255, 255, 0.158);
     color: transparent;
     outline: 2px dashed #F9BB44;
     outline-offset: -10px;
     color: #F9BB44;
     margin-top: 0;
}

#label-input-img{
     color: #F9BB44;
     font-family: 'Oswald', sans-serif;
     font-family: 25px;
}
/*propriedades config modais*/
.amb-ascent-modal{
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
}

.amb-text-modal{
     padding: 0 10px 0 10px;
     text-align: center;
}

.modal{
     font-family: 'Oswald', sans-serif;    
}
 
/*propriedades de modais exclamação*/

.modal-content{
     background-color: #101936;
     color: #F9BB44;
     font-size: 22px;
}

.style-ascent-exclam{
     color: #F9BB44;
     border: 3px solid #dc3545;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     background-color: #dc35466b;
}

/*propriedades de modais confirm*/

.style-ascent-confirm{
     color: #F9BB44;
     border: 3px solid #198754;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     background-color: #1987547e;
}

/*propriedades de modais interrogação*/

.style-ascent-interrog{
     color: #F9BB44;
     border: 3px solid #0b5ed7;
     width: 100px;
     height: 100px;
     border-radius: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     background-color: #0b5dd75b
}

.amb-grafics{
     width: 98%;
}

.option-dachboar:hover{
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.078);
     border-radius: 10px;
}

.option-dachboar:active{
     background-color: rgba(255, 255, 255, 0.162);
}

@media(max-width:850px){
     .amb-menu-dachboard{
          grid-template-columns: repeat(1, 1fr);
     }
}

/*propriedades informações gráficas legendas*/

.list-info-grafics{
     color: #F9BB44;
     font-family: 'Oswald', sans-serif;
}

.list-info-grafics ul li{
     background: linear-gradient(0deg, rgba(103, 32, 184, 0.397) 38%, #101936 99%);
     margin: 5px 0 10px 0;
     padding: 10px 10px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-bottom: 1px solid #F9BB44;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.32);
}

.list-info-grafics ul li:hover{
     transition: 0.2s;
     border-left: 15px solid #0b5dd7;
     border-right: 1px solid #0b5dd7;
     border-bottom: 3px solid #0b5dd7;
}

.btn-pdf-grafics{
     font-family: 'Oswald', sans-serif;
}

/*------------------notif-mensagem--------------------*/

#notif-mensagem, #notif-mensagem2{
     color: white;
     margin-left: 30px;
     font-size: 10px;
     padding: 1px 5px;
     border-radius: 10px;
     background-color: rgb(255, 0, 0);
     width: 20px;
     font-family: 'Oswald', sans-serif;
     float: inline-start;
     overflow: hidden; 
     text-overflow: ellipsis;
     text-align: center;
     
}

#icon-mensage-main{
     margin-bottom: 12px;
}

/*-------propriedades acordion mensagens--------------*/

.accordion-button{
     background-color: #101936;
     font-family: 'Oswald', sans-serif;
     color: #F9BB44;
     border: 1px solid #0b5dd761;
     border-radius: 0;
z-index:0;
 }

 .accordion-body{
     background-color: #101936;
     font-family: 'Oswald', sans-serif;
     color: #F9BB44;
     line-height: 23px;
     border: 1px solid #0b5dd761;
z-index:0;
 }

.accordion-button:hover{
     background-color: #F9BB44;
     color: #0b1125;
z-index:0;
}

 .accordion-button:not(.collapsed) {
     background-color: #101936;
     color: #F9BB44;
     border-radius: 0;
z-index:0;
 }

 .accordion-item:last-of-type .accordion-button.collapsed {
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
z-index:0;
 }

 .btn-mensagem-site-mobile{
      display: none;
 }