
<div class="titulos-amb">
     <h1>Candidatos</h1>
</div>

<div class="amb-candidatos">
     <div class="amb-cad-consult-candidato">
          <div class="form-cad-candidatos">
               <div class="subtitulos-amb">Cadastrar</div>
               <form action="">
                    <input id="input-name-candidato" class="inputs-config form-control " type="text"
                         placeholder="Informe nome Completo:" aria-label=".form-control-lg example">
     
                    <div class="amb-inputs-logradouro-empresa">
                         <input id="input-rua-candidato" class="inputs-config form-control " type="text" placeholder="Rua:"
                              aria-label=".form-control-lg example">
                         <input id="input-num-candidato" class="inputs-config form-control " type="text" placeholder="N:"
                              aria-label=".form-control-lg example">
                    </div>
     
                    <div class="amb-inputs-logradouro-candidato">
                         <input id="input-bairro-candidato" class="inputs-config form-control " type="text"
                              placeholder="Bairro:" aria-label=".form-control-lg example">
                         <input id="input-cidade-candidato" class="inputs-config form-control " type="text"
                              placeholder="Cidade:" aria-label=".form-control-lg example">
                    </div>
     
                    <div class="amb-inputs-logradouro-candidato">
                         <input id="input-estado-candidato" class="inputs-config form-control " type="text"
                              placeholder="Estado:" aria-label=".form-control-lg example">
                         <input id="input-pais-candidato" class="inputs-config form-control " type="text" placeholder="País:"
                              aria-label=".form-control-lg example">
                    </div>
     
                    <input id="input-cpf-candidato" class="inputs-config form-control" type="text" placeholder="CPF:"
                         aria-label=".form-control-lg example">
     
                    <div class="amb-inputs-logradouro-candidato">
                         <input id="input-telefone1-candidato" class="inputs-config form-control " type="text"
                              placeholder="Tel de contato:" aria-label=".form-control-lg example">
                         <input id="input-telefone2-candidato" class="inputs-config form-control " type="text"
                              placeholder="Tel auxiliar:" aria-label=".form-control-lg example">
                    </div>
     
                    <div class="amb-btns-config">
                         <button type="button" class="btns1 btn btn-success" onclick="CANDIDATO.cadastrar()">CADASTRAR</button>
                         <button style="margin-right: 7px;" type="button" class="btns2 btn btn-danger"
                              onclick="BTN_NAV.buscarLayout(0)">CANCELAR</button>
                    </div>
               </form>
          </div>
          <div class="form-search-candidato">
               <div class="subtitulos-amb">Consultar</div>
               <form action="">
                    <input id="input-name-search-candidato" class="inputs-config form-control " type="text"
                         placeholder="Informe nome ou cpf do Candidato:" aria-label=".form-control-lg example">
               </form>
               <div style="margin-top: 10px;" class="subtitulos-amb">Informações:</div>
               <div class="amb-table">
                    <table class="table table-dark table-striped">
                         <thead>
                              <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">First</th>
                                   <th scope="col">Last</th>
                                   <th scope="col">Handle</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <th scope="row">1</th>
                                   <td>Mark</td>
                                   <td>Otto</td>
                                   <td>@mdo</td>
                              </tr>
                              <tr>
                                   <th scope="row">2</th>
                                   <td>Jacob</td>
                                   <td>Thornton</td>
                                   <td>@fat</td>
                              </tr>
                              <tr>
                                   <th scope="row">3</th>
                                   <td>Thornton</td>
                                   <td>Jacob</td>
                                   <td>@twitter</td>
                              </tr>
                              <tr>
                                   <th scope="row">3</th>
                                   <td>Thornton</td>
                                   <td>Jacob</td>
                                   <td>@twitter</td>
                              </tr>
                              <tr>
                                   <th scope="row">3</th>
                                   <td>Thornton</td>
                                   <td>Jacob</td>
                                   <td>@twitter</td>
                              </tr>
                              <tr>
                                   <th scope="row">3</th>
                                   <td>Thornton</td>
                                   <td>Jacob</td>
                                   <td>@twitter</td>
                              </tr>
                              <tr>
                                   <th scope="row">3</th>
                                   <td>Thornton</td>
                                   <td>Jacob</td>
                                   <td>@twitter</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</div>
<script>
     $('#input-name-candidato, #input-rua-candidato, #input-bairro-candidato, #input-cidade-candidato, #input-estado-candidato, #input-pais-candidato').inputmask("Regex", { regex: "[A-Z a-z ç]*" });
     $('#input-num-candidato').inputmask("Regex",{ regex: "[0-9]{4}"});
     $('#input-cpf-candidato').inputmask({ mask: "99999999999"});
     $('#input-telefone1-candidato, #input-telefone2-candidato').inputmask({ mask: "(99)99999-9999"});
</script>





