<div class="titulos-amb">
     <h1>Clientes</h1>
</div>

<div class="amb-clientes">
     <div class="form-cad-clientes">
          <div class="subtitulos-amb">Cadastrar</div>
          <form action="">
               <input id="input-name-cliente" class="inputs-config form-control " type="text"
                    placeholder="Nome da empresa:" aria-label=".form-control-lg example">
               
               <textarea class="textareas-cad-clientes form-control" placeholder="Mercado de atuação:"></textarea>

               <div class="amb-inputs-logradouro-empresa">
                    <input id="input-rua-cliente" class="inputs-config form-control " type="text" placeholder="Rua:"
                         aria-label=".form-control-lg example">
                    <input id="input-num-cliente" class="inputs-config form-control " type="text" placeholder="N:"
                         aria-label=".form-control-lg example">
               </div>

               <div class="amb-inputs-logradouro-empresa">
                    <input id="input-bairro-cliente" class="inputs-config form-control " type="text"
                         placeholder="Bairro:" aria-label=".form-control-lg example">
                    <input id="input-cidade-cliente" class="inputs-config form-control " type="text"
                         placeholder="Cidade:" aria-label=".form-control-lg example">
               </div>

               <div class="amb-inputs-logradouro-empresa">
                    <input id="input-estado-cliente" class="inputs-config form-control " type="text"
                         placeholder="Estado:" aria-label=".form-control-lg example">
                    <input id="input-pais-cliente" class="inputs-config form-control " type="text" placeholder="País:"
                         aria-label=".form-control-lg example">
               </div>

               <input id="input-cnpj-cliente" class="inputs-config form-control " type="text" placeholder="CNPJ:"
                    aria-label=".form-control-lg example">

               <div class="amb-inputs-logradouro-empresa">
                    <input id="input-telefone1-cliente" class="inputs-config form-control " type="text"
                         placeholder="Tel do recrutador:" aria-label=".form-control-lg example">
                    <input id="input-telefone2-cliente" class="inputs-config form-control " type="text" placeholder="Tel responsável da empresa:"
                         aria-label=".form-control-lg example">
               </div>

               <div class="amb-btns-config">
                    <button type="button" class="btns1 btn btn-success">CADASTRAR</button>
                    <button type="button" class="btns2 btn btn-danger" onclick="BTN_NAV.buscarLayout(0)">CANCELAR</button>
               </div>
          </form>
     </div>
</div>