<div class="titulos-amb">
    <h1>Relação de Novos Clientes</h1><br>
    <p class="subtitulos-amb">Novos clientes cadastrados nos meses abaixo:</p>
</div>

<div class="list-info-grafics"></div>

<button type="button" class="btn-pdf-grafics btn btn-light">Gerar PDF</button>

<script>
    
    var layout = "<h3>Referência:</h3><ul>";
    var result = 0;

    for (let i = 0; i < GRAFICO_CLIENTES.dados.labels.length; i++) {

        if (GRAFICO_CLIENTES.dados.datasets[0].data[i] == undefined) {
            layout += "<li>"+GRAFICO_CLIENTES.dados.labels[i]+": "+GRAFICO_CLIENTES.dados.datasets[0].data[i]+"</li>"
        } else {
            layout += "<li>"+GRAFICO_CLIENTES.dados.labels[i]+": N/A</li>"
        }
 
    }

    for (let i = 0; i < GRAFICO_CLIENTES.dados.datasets[0].data.length; i++) {
        result += GRAFICO_CLIENTES.dados.datasets[0].data[i]
    }

    layout += "<li>Total no Ano: "+result+" novos clientes.</li>"

    layout += "<ul>";

    $(".list-info-grafics").html(layout)
   
</script>


