<div class="titulos-amb">
    <h1>Imagem</h1>
</div>

<div class="amb-acessos">
    <div class="amb-cad-acessos">
         <div class="subtitulos-amb">Aqui você pode inserir ou atualizar sua imagem de login.</div>
         <form id="form-users" enctype="multipart/form-data">
              <div id="amb-input-img-user">
                   <label id="label-input-img" for="input-img-user">INSIRA IMAGEM DE USUÁRIO</label>
                   <input name="imagem" id="input-img-user" class="inputs-config form-control" type="file"
                        aria-label=".form-control-lg">
              </div>

              <div class="amb-btns-config">
                   <button type="button" class="btns1 btn btn-success" onclick="USER.salvarImagem()">Finalizar</button>
                   <button style="margin-right: 8px;" type="button" class="btns2 btn btn-danger"
                        onclick="BTN_NAV.buscarLayout(0)">Cancelar</button>
              </div>
         </form>
    </div>
</div>
