<div class="titulos-amb">
     <h1>Vagas</h1>
</div>

<div class="amb-form-cad-vagas">
     <div class="amb-cad-vaga">
          <div class="subtitulos-amb">Cadastrar Vaga</div>
          <form action="">
               <input id="input-name-vaga" class="inputs-config form-control " type="text"
                    placeholder="Informe nome da vaga:" aria-label=".form-control-lg example">

               <textarea class="textareas-cad-vaga form-control" placeholder="Descrição:"></textarea>
               <textarea class="textareas-cad-vaga form-control" placeholder="Principais atividade:"></textarea>
               <textarea class="textareas-cad-vaga form-control" placeholder="Requisitos:"></textarea>
               <textarea class="textareas-cad-vaga form-control" placeholder="Perfil do candidato:"></textarea>
               <div class="amb-btns-config">
                    <button type="button" class="btns1 btn btn-success">CADASTRAR</button>
                    <button type="button" class="btns2 btn btn-danger" onclick="BTN_NAV.buscarLayout(0)">CANCELAR</button>
               </div>
          </form>
     </div>
</div>
<script>
     $('#input-name-vaga').inputmask("Regex", { regex: "[A-Z a-z ç]*" });
</script>